# HTTP requests (testes locais)
requests.http

# Notas e Rascunhos
escopo.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Spring Boot
*.log
spring.log

# OS
.DS_Store
Thumbs.db
